.wrapper {
    font-family: "Zalando Sans SemiExpanded", sans-serif;
    background-color: #e4ddcc;
    min-height: 100vh;
}

.container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    height: auto;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(68, 58, 53, 0.15);
    background-color: #f8f4ee;
    color: #252525;
}

.card h1, .card h4 {
    color: #443A35; 
}

.card input {
    padding: 9px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.card button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.card input:focus {
    border-color: #333;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.card button:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}